body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#game-area {
  margin-top: 20px;
  font-size: 20px;
}

#guess-history {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #000000;
  max-height: auto; /* Adjust height as needed */
  overflow-y: auto; /* Allows scrolling if there are many guesses */
  background-color: #d8d818;
  color:black;
}
