<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carys' Word Guessing Game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <h1 id="title_val">Carys' Word Game <i class="fa fa-book" aria-hidden="true" id="fa-book"></i></h1>
    
    <p>The game will generate a word, you have to guess that word. If the randomly generated word comes <em>after</em> yours in 
      the dictionary, the game will respond <strong>higher</strong>. If the word comes <em>before</em> yours in the dictionary
      the game will respond <strong>lower</strong>. Keep going until you guess the word! The easy dictionary consists of the 
      100 most common words in the english language, the medium consists of 1000 and the hard dictionary consists of over 30000 words.
    </p>
    <form id="start-game-form">
        <label for="dictionary_choice">Choose a dictionary:</label>
        <select id="dictionary_choice" name="dictionary_choice">
            <option value="easy.txt.csv">Easy</option>
            <option value="1000-most-common-words.txt.csv">Medium</option>
            <option value="dictionary.csv">Hard</option>
        </select>
        <button type="submit" id="start-button">Start Game</button>
    </form>

    <div id="game-area" style="display:none;">
        <p id="instructions">Guess the word by typing below:</p>
        <input type="text" id="guess" name="guess">
        <button id="guess-button">Submit Guess</button>
        <button id="give-up">Give up</button>
        <p id="feedback"></p>
        <div id="guess-history"></div>
        
    </div>
    <div id="give-up-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="give-up-message"></p>
            <button id="close-button">Close</button>
        </div>
    </div>

    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close" id="successClose">&times;</span>
            <p id="successMessage"></p>
        </div>
    </div>

    <div id="alphabetModal" class="modal">
        <div class="modal-content" id="alphabet-content">
            <p id="alphabet">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
        </div>
    </div>
    <!--img src="images/book-image.jpg" alt="Book with words coming out" id="book-image"-->
    <img src="{{ url_for('static', filename='images/book-image.png') }}" alt="Book with words coming out" id="book-image">
</body>
</html>