<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carys' Word Guessing Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Carys' Word Guessing Game</h1>
    <p>Guess a word. If the randomly generated word comes after yours in 
      the dictionary, the game will respond higher. If the randomly generated word comes before yours in the dictionary
      the game will respod lower. Keep going until you guess the word! The easy dictionary consists of the 
      100 most common words in the english language, the medium consists of 1000 and the hard dictionary consists of all the words.
    </p>
    <form id="start-game-form">
        <label for="dictionary_choice">Choose a dictionary:</label>
        <select id="dictionary_choice" name="dictionary_choice">
            <option value="easy.txt.csv">Easy</option>
            <option value="1000-most-common-words.txt.csv">Medium</option>
            <option value="dictionary.csv">Hard</option>
            <!-- Add more options as needed -->
        </select>
        <button type="submit">Start Game</button>
    </form>

    <div id="game-area" style="display:none;">
        <p id="instructions">Guess the word by typing below:</p>
        <input type="text" id="guess" name="guess">
        <button id="guess-button">Submit Guess</button>
        <p id="feedback"></p>
        <div id="guess-history"></div>
        
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>